
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

body{
  background-color: #354259;
  font-family: 'Caveat', cursive;
  font-size: 2rem;
}
section{
  background-color: #ECE5C7;
  margin: auto;
  width: 50%;
  padding: 25px 25px 5px 25px;
  box-shadow: 10px 10px 10px #242d3d;
}

.done {
  text-decoration: line-through;
}

ul{
  list-style:none;
}
li{
  cursor: pointer;
  clear: both;
  word-wrap: break-word;
}
li::before {
  content: "📌";
}



.bottom-text{
  color:#CDC2AE;
  font-size: 1rem;
}

input{
  height: 2rem;
  border: 2px solid #CDC2AE;
  background-color: #fcf7e0;
}

button{
  border: none;
  background-color: #ECE5C7;
  color:#CDC2AE;
  cursor: pointer;
  margin-left: 1vw;
}


#enter{
  height: 2.35rem;
  margin: 0 auto;
  border: 2px solid #CDC2AE;
  background-color: #fcf7e0;
  color:#000000;
}

#guide {
  font-size: 1.4rem;
}

.toggle-visibility{
  display: none;
}